* {
    font-family: 'Microsoft Yahei';
    font-size: 12px;
    padding: 0;
    margin: 0;
}

a,
a:hover {
    text-decoration: none;
}
ul,ul li {
    list-style: none;
}

ul {
    display: block;
}

.nav > li {
    position: relative;
    display: block;
    text-align: center;
}

.nav > li.active {
    background: #745ec5;
    margin-right: 5px;
}

.nav > li:hover a{
    color: #745ec5;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

#header {
    width: 100%;
    height: 500px;
    background: url("../images/bg_01.png") no-repeat center center;
    position: relative;
}

#header ul.navbar-nav a {
    color: #FFFFFF;
}

#header ul.navbar-nav a.purple {
    color: #745ec5;
}

#header ul.navbar-nav a:hover {
    color: #745ec5;
}

#header .shade_black {
    position: relative;
    width: 100%;
    height: 500px;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .3);
}

#header .title-header {
    color: #FFFFFF;
    float: left;
    margin-left: 10px;
    margin-top: 8px;
    margin-right: 20px;
}
#header .navbar {
    background: rgba(0,0,0,.2);
}

.navbar-toggle {
    background: #745ec5;
    margin-top: 12px;
}
.navbar-toggle .icon-bar {
    background: #FFFFFF;
}
#header .nav {
    margin-top: 10px;
}

#header #carousel-example-generic {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 500px;
    text-align: center;
}

.fade {
    opacity: 0;
}
@-khtml-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-ms-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade.in {
    -webkit-animation: fadeIn 1s linear;
    -o-animation: fadeIn 1s linear;
    animation: fadeIn 1s linear;
}
.carousel-inner .section {
    margin-top: 150px;
    color: #FFFFFF;
}

.carousel-inner .section h1.section_title {
    font-size: 24px;
    opacity: .9;
}

.carousel-inner .section p.section_contrib {
    font-size: 16px;
    line-height: 30px;
    margin-top: 20px;
    opacity: .8;
}

.carousel-inner .section div.section_btn {
    width: 115px;
    height: 40px;
    line-height: 40px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #745ec5;
    color: #745ec5;
    margin: 8% auto 0 auto;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
}
.carousel-inner .section div.section_btn a,
.carousel-inner .section div.section_btn a:hover {
    color: #745ec5;
}
.carousel-inner .section div.section_btn a {
    display: inline-block;
    width: 111px;
    height: 36px;
    line-height: 36px;
    background: #FFFFFF;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.carousel-inner .section div.section_btn a:hover {
    width: 80px;
    height: 30px;
    line-height: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#main .sectionl_01 {
    width: 100%;
    border-bottom: 1px solid lightcoral;
    padding-bottom: 100px;
}

#main .sectionl_01 .sectionl_01_wrapper {
    margin-top: 110px;
}

#main .sectionl_01 .sectionl_01_wrapper .text h1 {
    font-size: 30px;
    color: #745ec5;
    padding: 0;
    margin: 0;
}

#main .sectionl_01 .sectionl_01_wrapper .text p.text_contrib {
    margin-top: 30px;
    font-size: 14px;
    color: #b2b2b2;
}

#main .sectionl_01 .sectionl_01_wrapper .text .text_item_list {
    margin: 0;
}

#main .sectionl_01 .sectionl_01_wrapper .text .text_item_list .icon_right {
    position: relative;
    width: 48px;
    height: 48px;
    border: 2px solid #aaaaaa;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#main .sectionl_01 .sectionl_01_wrapper .text .text_item_list li {
    margin-top: 30px;
    display: inline-block;
    width: 100%;
}

#main .sectionl_01 .sectionl_01_wrapper .text .text_item_list .text_item {
    width: 80%;
}

#main .sectionl_01 .sectionl_01_wrapper .text .text_item_list .text_item h2 {
    font-size: 18px;
    padding: 0;
    margin: 0;
}

#main .sectionl_01 .sectionl_01_wrapper .text .text_item_list .text_item p {
    font-size: 12px;
    color: #b2b2b2;
    margin-top: 10px;
}

#main .sectionl_01_wrapper .text_item_list .icon_right img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#main .sectionl_01_wrapper .text_item_list .icon_right:hover.icon_right {
    border: 2px solid #cccccc;
}

/*sectionl_02开始*/

#main .sectionl_02 {
    width: 100%;
    padding: 110px 0;
    background: #f5f5f5;
}

#main .sectionl_02 .pic {
    cursor: pointer;
}

#main .sectionl_02 ul.point_list {
    float: left;
}

#main .sectionl_02 ul.point_list li {
    width: 70px;
    height: 76px;
    background: #aaaaaa;
    text-align: center;
    line-height: 76px;
    margin-bottom: 1px;
    color: #FFFFFF;
    cursor: pointer;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}

#main .sectionl_02 ul.point_list li:hover {
    background: #745ec5;
}

#main .sectionl_02 ul.point_list li.point_active {
    background: #745ec5;
}

#main .sectionl_02 ul.target_list {
    float: right;
    width: 75%;
    position: relative;
}

#main .sectionl_02 ul.target_list li {
    position: absolute;
    left: 0;
    top: 0;
}

#main .sectionl_02 ul.target_list .target_item1 {
    display: block;
}

#main .sectionl_02 ul.target_list .target_item2,
#main .sectionl_02 ul.target_list .target_item3 {
    display: none;
}

#main .sectionl_02 ul.target_list .target_item h1 {
    font-size: 32px;
    color: #745ec5;
    padding: 0;
    margin: 0;
}

#main .sectionl_02 ul.target_list .target_item p {
    margin: 5% 0;
    color: #a4a4a4;
}

#main .sectionl_02 ul.target_list .tar_details_btn {
    width: 125px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 2px solid #745ec5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}

#main .sectionl_02 ul.target_list .tar_details_btn a{
    width: 121px;
    height: 36px;
    line-height: 36px;
    background: #745ec5;
    color: #FFFFFF;
    display: inline-block;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#main .sectionl_02 ul.target_list .tar_details_btn a:hover {
    width: 80px;
    height: 30px;
    line-height: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#main .sectionl_03 {
    width: 100%;
    padding: 80px 0 50px 0;
    border-bottom: 1px solid lightcoral;
    background: #FFFFFF;
}

#main .sectionl_03 h1 {
    text-align: center;
    font-size: 36px;
    color: #745ec5;
    margin-bottom: 60px;
}
#main .sectionl_03 .directive_icon {
    /*width: 102px;
    height: 102px;*/
    width: 102px;
    height: 102px;
    border: 2px solid #FFFFFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

#main .sectionl_03 .directive_icon .icon_response {
    width: 90px;
    height: 90px;
    margin: 4px;
    background: #e2dfdf;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

#main .sectionl_03 .directive_icon:hover {
    width: 102px;
    height: 102px;
    border: 2px solid #555555;
}

#main .sectionl_03 .directive_icon:hover .icon_response {
    background: #999999;
}

#main .sectionl_03 .directive_icon:hover .icon_response i {
    color: #FFFFFF;
}

#main .sectionl_03 .directive_icon .icon_response i {
    color: #999999;
    line-height: 94px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

#main .sectionl_03 .introduce {
    height: 108px;
}

#main .sectionl_03 .introduce h2 {
    font-size: 16px;
    margin: 10px 0 0 0;
    padding: 0;
}

#main .sectionl_03 .introduce p {
    color: #ababab;
    padding: 20px 0;
    cursor: pointer;
}

#main .sectionl_03 li {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

/*sectionl_04 开始*/
#main .sectionl_04 {
    width: 100%;
    height: 500px;
    background: url("../images/bg_02.png") no-repeat center center;
}

#main .sectionl_04 h1 {
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    margin: 70px 0 60px 0;
}

#main .sectionl_04 .price_block {
    width: 288px;
    height: 254px;
    margin: auto;
    text-align: center;
}

#main .sectionl_04 .price_block .block_bg {
    width: 288px;
    height: 254px;
    background: #000000;
    opacity: .5;
    filter: alpha(opacity=50);
    position: absolute;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

#main .sectionl_04 .price_block  .block_container {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#main .sectionl_04 .price_block h2 {
    font-size: 24px;
    color: #eaeaea;
    padding: 35px 0;
    margin: 0;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

#main .sectionl_04 .price_block p.price_eve {
    font-size: 20px;
    color: #eaeaea;
    margin: 0;
    padding: 0;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

#main .sectionl_04 .price_block .read_more_w {
    width: 128px;
    height: 44px;
    border: 2px solid #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 35px auto;
    cursor: pointer;
    position: relative;
}

#main .sectionl_04 .price_block .read_more_w .read_more {
    width: 124px;
    height: 40px;
    line-height: 40px;
    background: #FFFFFF;
    font-size: 14px;
    color: #745ec5;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

#main .sectionl_04 .price_block .read_more_w:hover .read_more {
    width: 90px;
    height: 34px;
    line-height: 34px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#main .sectionl_04 .price_block:hover .block_bg {
    background: #745ec5;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#main .sectionl_04 .price_block:hover h2 {
    font-size: 26px;
}

#main .sectionl_04 .price_block:hover p.price_eve {
    font-size: 24px;
}

@media screen and (max-width: 992px) {
    #main .sectionl_04 .col3 {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    #main .sectionl_04 .col2 {
        display: none;
    }
}

#footer {
    width: 80%;
    height: 50px;
    line-height: 46px;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    margin: 100px auto;
    text-align: center;
    font-size: 12px;
    color: #333333;
}





























