* {
    font-family: 'Microsoft Yahei';
}

a,
a:hover {
    text-decoration: none;
}
ul,ul li {
    list-style: none;
}

ul {
    display: block;
}

.nav > li {
    position: relative;
    display: block;
    text-align: center;
}

.nav > li.active {
    background: #745ec5;
    margin-right: 5px;
}

.nav > li:hover a{
    color: #745ec5;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

#header {
    width: 100%;
    height: 500px;
    background: url("../images/bg_01.png") no-repeat center center;
}

#header ul.navbar-nav a {
    color: #FFFFFF;
}

#header ul.navbar-nav a.purple {
    color: #745ec5;
}

#header ul.navbar-nav a:hover {
    color: #745ec5;
}

#header .shade_black {
    position: relative;
    width: 100%;
    height: 500px;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .3);
}

#header .title-header {
    color: #FFFFFF;
    float: left;
    margin-left: 10px;
    margin-top: 8px;
}

.navbar-toggle {
    background: #745ec5;
    margin-top: 12px;
}
.navbar-toggle .icon-bar {
    background: #FFFFFF;
}
#header .nav {
    margin-top: 10px;
}

















